@media (max-width: 1320px) {
    header .introduction {
        width: 90%;
    }

    header .brand {
        left: 10%;
    }
}

@media (max-width: 1020px) {
    header .introduction {
        font-size: 80px;
    }

    header .brand {
        width: 160px;
    }
}

@media (max-width: 840px) {
    header .introduction {
        width: 100%;
    }

    header .introduction span {
        text-align: center;
    }

    header .brand {
        display: none;
    }
}