@media (max-width: 1320px) {
    header .introduction {
        width: 90%;
    }

    header .brand {
        left: 10%;
    }
    
    .block {
        padding: 50px 15%;
    }

    .block .bio-read {
        right: 15%;
    }
}

@media (max-width: 1020px) {
    header .introduction {
        font-size: 80px;
    }

    header .brand {
        width: 160px;
    }
    
    .block {
        padding: 50px 10%;
    }

    .block .bio-read {
        right: 10%;
    }
}

@media (max-width: 840px) {
    header .introduction {
        width: 100%;
    }

    header .introduction span {
        text-align: center;
    }

    header .brand {
        display: none;
    }
    
    .block {
        padding: 50px 50px;
    }

    .block .bio-read {
        right: 50px;
    }
}