:root {
    --bg: #020e21;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand.ttf);
}

* {
    font-family: Quicksand, sans-serif;
    color: white;
}

body {
    background: var(--bg);
    margin: 0;
}

header {
    background: url(../img/header.png) right, url(../img/header-load.svg) right;
    background-size: cover;
    width: 100%;
    height: 100vb;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header .introduction {
    font-size: 100px;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 80%;
}

header .introduction span {
    display: block;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
}

header .introduction span:last-child {
    font-weight: bold;
}

header .introduction span {
	display: block;
	color: transparent;
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 50%, white 55%);
	background-size: 250% auto;
	background-position: 100% center;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-ms-background-clip: text;
	-o-background-clip: text;
	animation: swipe 1s forwards 1s;
}

header .introduction span:last-child {
	font-weight: bold;
	animation-delay: 1.1s;
}

@keyframes swipe {
	from {
		background-position: 100% center;
	}

	to {
		background-position: 0% center;
	}
}

header .brand {
    background: url(../img/brand.png);
    background-size: cover;
    width: 200px;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 20%;
    translate: 0 -50%;
    opacity: 0.2;
    animation: brand 0.5s forwards 1.3s;
}

@keyframes brand {
    to {
        opacity: 1;
    }
}

.spacing {
    height: 100px;
}