:root {
	--bg: #020e21;
	--cyan: #00ccff;
}

@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand.ttf);
}

* {
	font-family: Quicksand, sans-serif;
	color: white;
}

*::selection {
	background: rgba(255, 255, 255, 0.2);
}

body {
	background: var(--bg);
	margin: 0;
}

.spacing {
	height: 100px;
}

.block {
	width: 100%;
	padding: 50px 20%;
	box-sizing: border-box;
	position: relative;
}

.block .title {
	text-align: center;
	font-weight: 400;
	font-size: 35px;
	padding: 30px 0;
}

.block .content {
	padding-bottom: 40px;
	font-size: 22px;
	text-align: justify;
}

.block .content .paragraph {
	margin-bottom: 20px;
}

.block .content .paragraph::before {
	content: "";
	display: inline-block;
	width: 30px;
}

.block .content .paragraph .b {
	font-weight: 400;
}


.block .content .more {
	text-align: center;
}

.block .bio-read {
	color: var(--cyan);
	position: absolute;
	top: 85px;
	right: 20%;
	font-size: 20px;
	padding: 5px 10px;
	border: 2px solid var(--cyan);
	border-radius: 10px;
	cursor: pointer;
	opacity: 0.2;
	transition: 0.2s opacity;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	display: none;
}

.block .bio-read:hover {
	opacity: 0.4;
}

.block .bio-read:active, .block .bio-read.active {
	opacity: 1;
}

.block .bio-read * {
	color: var(--cyan);
}

.about-me b {
	font-weight: 900;
}

/*
article {
	width: 70%;
	max-width: 1000px;
	margin: 0 auto;
	border-radius: 20px;
	position: relative;
	background: var(--bg);
}

article::before {
	content: "";
	position: absolute;
	top: -3px;
	left: -3px;
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	background: linear-gradient(to right, #0062ff, #00ccff, #0062ff, #00ccff);
	background-size: 300%;
	z-index: -1;
	border-radius: 22px;
	animation: glow 5s linear infinite;
}

@keyframes glow {
	0% {
		background-position: 0 0;
	}
	
	100% {
		background-position: 100% 0;
	}
}

article .title {
	text-align: center;
	font-weight: 400;
	font-size: 35px;
	padding: 30px 0;
}

article .content {
	position: relative;
	left: 50px;
	width: calc(100% - 100px);
	padding-bottom: 40px;
	font-size: 22px;
	text-align: justify;
}

article .content .paragraph::before {
	content: "";
	display: inline-block;
	width: 30px;
}

article .content .more {
	padding-top: 20px;
	text-align: center;
}*/

.about-me .content .birthday {
	color: transparent;
	background: linear-gradient(to right, #ffae00, #ffe600, #ffae00, #ffe600);
	background-size: 300%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-ms-background-clip: text;
	-o-background-clip: text;
	animation: glow 2s linear infinite;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.balloon {
	--color: red;
	position: fixed;
	width: 100px;
	height: 300px;
	pointer-events: none;
	animation: fly 5s linear forwards;
}

.balloon svg .colored {
	fill: var(--color);
}

@keyframes fly {
	0% {
		top: 100%;
	}
	
	100% {
		top: -300px;
	}
}