@media (max-width: 1500px) {
	header {
		height: 400px;
	}

	.about-me {
		width: 70%;
	}

	hr {
		width: 60%;
	}
}

@media (max-width: 1200px) {
	.about-me {
		width: 80%;
	}

	hr {
		width: 70%;
	}
}

@media (max-width: 1000px) {
	header {
		height: 300px;
	}

	.about-me {
		height: auto;
		position: relative;
	}

	.about-me * {
		float: inherit;
	}

	.about-me .image {
		display: none;
	}

	.about-me .container {
		width: 100%;
	}

	.container {
		font-size: 100%;
	}

	.title {
		font-size: 130%;
	}

	.space-about-me {
		height: 50px;
	}
}

@media (max-width: 700px) {
	header {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	}

	.space-header {
		display: none;
	}

	.lang {
		position: absolute;
		left: 10px;
		top: 320px;
	}

	.lang .other {
		top: 30px;
		padding-bottom: 0;
		padding-top: 10px;
	}

	.about-me {
		width: 100%;
		box-sizing: border-box;
	}
	
	.skills .container .part .bar {
		width: calc(100% - 240px);
	}
}

@media (max-width: 600px) {
	header .introduction span {
		font-size: 50px;
	}

	.background .part .content .badges img {
		width: calc(33% - 20px);
		margin: 10px;
	}

	.skills .container .part {
		padding-left: 0;
	}
	
	.skills .container .part::before {
		display: none;
	}
	
	.skills .container .part .bar {
		width: calc(100% - 220px);
	}
}

@media (max-width: 550px) {
	.skills .container .part .bar {
		width: calc(100% - 200px);
	}
}

@media (max-width: 500px) {
	.background .part {
		padding-left: 0;
	}

	.background .part .content .badges img {
		width: calc(50% - 20px);
		margin: 10px;
	}

	.background div::before, .background div::after {
		display: none;
	}

	.skills .container .part .bar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: conic-gradient(var(--bar) var(--width), rgba(255, 255, 255, 0.2) var(--width));
	}

	.skills .container .part .bar::after {
		background: var(--bg);
		width: 25px;
		height: 25px;
		border-radius: 50%;
		position: absolute;
		top: 7.5px;
		left: 7.5px;
	}
}

@media (max-width: 400px) {
	header {
		height: 250px;
	}

	header .introduction span {
		font-size: 35px;
	}

	.lang {
		top: 270px;
	}
}