:root {
	--bg: #020e21;
}

@font-face {
	font-family: Quicksand;
	src: url(fonts/Quicksand.ttf);
}

* {
	font-family: Quicksand, sans-serif;
	color: white;
	font-size: 110%;
}

*::selection {
	background: rgba(255, 255, 255, 0.2);
}

body {
	margin: 0;
	overflow-x: hidden;
	background: var(--bg);
}

img {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

header {
	width: 100%;
	height: 500px;
	background: url(img/background.png);
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header .introduction {
	font-size: 70px;
	text-align: right;
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translate(0, -50%);
	text-transform: uppercase;
}

header .introduction span {
	display: block;
	color: transparent;
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 50%, white 55%);
	background-size: 250% auto;
	background-position: 100% center;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-ms-background-clip: text;
	-o-background-clip: text;
	transition: 1s;
	animation-name: swipe;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

header .introduction .name {
	font-weight: bold;
	animation-delay: 0.6s;
}

@keyframes swipe {
	from {
		background-position: 100% center;
	}

	to {
		background-position: 0% center;
	}
}